In [1]:
import pandas as pd
import shutil

In [2]:
raw = pd.read_csv("DATA/RAW DATA/Climate Change Trends.csv")
print(raw)

     Year    Country  Avg Temperature (째C)  CO2 Emissions (Tons/Capita)  \
0    2006         UK                   8.9                          9.3
1    2019        USA                  31.0                          4.8
2    2014     France                  33.9                          2.8
3    2010  Argentina                   5.9                          1.8
4    2007    Germany                  26.9                          5.6
..    ...        ...                   ...                          ...
995  2019      India                  23.6                          8.0
996  2000         UK                  21.8                         10.0
997  2019  Argentina                  23.8                          8.9
998  2016  Australia                  21.0                         14.9
999  2011    Germany                  24.1                         17.3

     Sea Level Rise (mm)  Rainfall (mm)  Population  Renewable Energy (%)  \
0                    3.1           1441   530911230                  20.4
1                    4.2           2407   107364344                  49.2
2                    2.2           1241   441101758                  33.3
3                    3.2           1892  1069669579                  23.7
4                    2.4           1743   124079175                  12.5
..                   ...            ...         ...                   ...
995                  1.2           1365  1358019778                  10.0
996                  2.2           1273   876123161                  14.9
997                  4.7            891  1120533308                  25.9
998                  3.1           1136   380662109                  24.5
999                  2.1           2854   398407112                  41.0

     Extreme Weather Events  Forest Area (%)
0                        14             59.8
1                         8             31.0
2                         9             35.5
3                         7             17.7
4                         4             17.4
..                      ...              ...
995                       8             20.2
996                      14             30.1
997                      10             46.5
998                       3             44.5
999                       3             19.8

[1000 rows x 10 columns]

In [3]:
# Focus on core environmental and population indicators that could influence TB dynamics. We drop other columns.
clean = raw.drop(['Renewable Energy (%)', 'Forest Area (%)', 'Sea Level Rise (mm)'], axis=1)
print(clean)

     Year    Country  Avg Temperature (째C)  CO2 Emissions (Tons/Capita)  \
0    2006         UK                   8.9                          9.3
1    2019        USA                  31.0                          4.8
2    2014     France                  33.9                          2.8
3    2010  Argentina                   5.9                          1.8
4    2007    Germany                  26.9                          5.6
..    ...        ...                   ...                          ...
995  2019      India                  23.6                          8.0
996  2000         UK                  21.8                         10.0
997  2019  Argentina                  23.8                          8.9
998  2016  Australia                  21.0                         14.9
999  2011    Germany                  24.1                         17.3

     Rainfall (mm)  Population  Extreme Weather Events
0             1441   530911230                      14
1             2407   107364344                       8
2             1241   441101758                       9
3             1892  1069669579                       7
4             1743   124079175                       4
..             ...         ...                     ...
995           1365  1358019778                       8
996           1273   876123161                      14
997            891  1120533308                      10
998           1136   380662109                       3
999           2854   398407112                       3

[1000 rows x 7 columns]

In [4]:
# Sort the DataFrame by the 'Year' column in ascending order
clean_sorted = clean.sort_values(by='Year')
print(clean_sorted)

     Year       Country  Avg Temperature (째C)  CO2 Emissions (Tons/Capita)  \
882  2000  South Africa                  31.9                         17.9
94   2000            UK                  22.9                         13.7
358  2000        Canada                  14.4                          1.2
456  2000     Australia                  11.4                          2.2
481  2000        France                  28.3                          4.8
..    ...           ...                   ...                          ...
366  2023       Germany                  13.2                         16.5
386  2023       Germany                  18.3                          4.2
961  2023     Australia                  11.5                          9.2
947  2023           USA                  12.6                          1.1
898  2023     Argentina                  29.0                         18.3

     Rainfall (mm)  Population  Extreme Weather Events
882           2398    64497807                      12
94            1255  1366969728                      12
358            527   496479467                      14
456           1071  1388230143                       4
481           1990    61481382                       6
..             ...         ...                     ...
366           1401   538799164                       6
386           2976  1017684486                       1
961           1910  1010451727                       5
947           1594   572998076                       0
898           2435   536217615                       8

[1000 rows x 7 columns]

In [6]:
#countries appear multiple times for a given year. This is probably due to updates, corrections, or multiple variables per year. 
# In this case we will aggregate multiple entries into one by averaging the numeric-values per country/year.  
clean_climate_avg = clean.groupby(['Country', 'Year'], as_index=False).mean()
print(clean_climate_avg)

       Country  Year  Avg Temperature (째C)  CO2 Emissions (Tons/Capita)  \
0    Argentina  2000             16.900000                     3.900000
1    Argentina  2001             21.975000                    12.600000
2    Argentina  2002             20.950000                    15.100000
3    Argentina  2003             10.000000                    16.500000
4    Argentina  2004             12.600000                     5.300000
..         ...   ...                   ...                          ...
335        USA  2019             30.800000                     8.400000
336        USA  2020             14.250000                    10.600000
337        USA  2021             26.450000                    16.050000
338        USA  2022             17.285714                    11.242857
339        USA  2023             16.257143                    11.242857

     Rainfall (mm)    Population  Extreme Weather Events
0      2047.000000  5.648776e+08               11.000000
1      2306.250000  8.357702e+08                4.500000
2      1190.500000  7.786235e+08                8.500000
3       626.000000  1.211429e+09               13.000000
4      1353.000000  9.287021e+08                0.500000
..             ...           ...                     ...
335    1891.000000  7.042742e+08                7.333333
336    2349.500000  7.770560e+08                6.250000
337    1387.000000  1.094680e+09                6.500000
338    1912.571429  7.274027e+08                7.714286
339    1532.000000  7.628877e+08                5.142857

[340 rows x 7 columns]

In [11]:
clean_climate_avg.head(60)

,Country,Year,Avg Temperature (째C),CO2 Emissions (Tons/Capita),Rainfall (mm),Population,Extreme Weather Events
0,Argentina,2000,16.900000,3.900000,2047.000000,5.648776e+08,11.000000
1,Argentina,2001,21.975000,12.600000,2306.250000,8.357702e+08,4.500000
2,Argentina,2002,20.950000,15.100000,1190.500000,7.786235e+08,8.500000
3,Argentina,2003,10.000000,16.500000,626.000000,1.211429e+09,13.000000
4,Argentina,2004,12.600000,5.300000,1353.000000,9.287021e+08,0.500000
5,Argentina,2005,14.283333,9.550000,1738.166667,8.664392e+08,6.833333
6,Argentina,2006,22.750000,12.075000,1426.750000,7.595240e+08,9.250000
7,Argentina,2007,7.700000,19.900000,918.000000,2.031142e+08,10.000000
8,Argentina,2008,20.760000,8.800000,1574.800000,9.552821e+08,8.200000
9,Argentina,2009,17.766667,6.933333,1769.333333,7.280251e+08,6.666667
10,Argentina,2010,15.200000,7.700000,1449.500000,6.349932e+08,7.000000
11,Argentina,2012,20.950000,8.350000,667.000000,6.883000e+08,7.500000
12,Argentina,2013,27.320000,9.120000,1443.000000,9.091239e+08,8.000000
13,Argentina,2014,26.366667,14.533333,2289.000000,8.158495e+08,2.000000
14,Argentina,2015,20.700000,12.800000,2761.000000,4.558234e+08,3.000000
15,Argentina,2016,14.200000,12.400000,1807.500000,8.741051e+08,2.500000
16,Argentina,2018,28.966667,14.333333,2085.333333,5.315453e+08,5.333333
17,Argentina,2019,19.033333,6.266667,1873.000000,8.666613e+08,8.333333
18,Argentina,2020,9.566667,11.233333,1365.666667,7.513012e+08,5.333333
19,Argentina,2021,15.933333,9.866667,1949.333333,4.296583e+08,2.000000
20,Argentina,2022,17.450000,9.800000,1415.500000,8.210097e+08,6.500000
21,Argentina,2023,20.633333,12.283333,2165.000000,5.117989e+08,8.833333
22,Australia,2000,11.933333,10.466667,2033.333333,8.317765e+08,9.666667
23,Australia,2001,18.900000,9.500000,1666.000000,6.673155e+08,6.500000
24,Australia,2002,23.025000,8.900000,1804.250000,5.244798e+08,7.750000
25,Australia,2003,22.400000,13.400000,2330.000000,6.528469e+08,4.666667
26,Australia,2004,14.620000,7.680000,1196.600000,6.669488e+08,6.400000
27,Australia,2005,34.400000,4.000000,2014.000000,7.484870e+08,9.000000
28,Australia,2006,20.400000,1.800000,773.000000,1.742325e+08,0.000000
29,Australia,2008,19.200000,8.500000,1753.500000,1.224481e+09,7.500000
30,Australia,2010,21.833333,3.966667,2313.000000,7.914727e+08,6.333333
31,Australia,2011,18.160000,12.080000,1933.400000,9.326329e+08,4.400000
32,Australia,2012,17.050000,4.650000,1727.000000,7.041031e+08,7.000000
33,Australia,2014,27.200000,2.000000,589.000000,7.617429e+08,14.000000
34,Australia,2015,6.200000,1.500000,2271.000000,4.283263e+08,6.000000
35,Australia,2016,21.400000,13.475000,1347.000000,6.877659e+08,7.250000
36,Australia,2017,26.350000,5.150000,1180.000000,7.518769e+08,3.000000
37,Australia,2018,18.675000,11.700000,1254.750000,1.072034e+09,3.250000
38,Australia,2019,19.960000,7.360000,2322.200000,3.243176e+08,10.800000
39,Australia,2020,20.350000,9.350000,1269.750000,8.599972e+08,6.250000
40,Australia,2021,24.900000,4.900000,2911.000000,2.819593e+08,1.000000
41,Australia,2022,18.333333,11.833333,1660.333333,6.635248e+08,9.666667
42,Australia,2023,11.500000,9.200000,1910.000000,1.010452e+09,5.000000
43,Brazil,2000,31.200000,14.600000,803.000000,2.553400e+08,9.000000
44,Brazil,2001,17.150000,11.350000,1492.000000,6.233296e+08,12.500000
45,Brazil,2002,14.266667,11.066667,2127.000000,5.631957e+08,9.000000
46,Brazil,2003,17.450000,12.750000,1616.000000,5.330340e+08,8.000000
47,Brazil,2004,16.400000,10.100000,1641.000000,6.815291e+08,7.000000
48,Brazil,2005,34.400000,5.000000,2132.000000,1.049222e+08,3.000000
49,Brazil,2006,22.233333,11.733333,2343.333333,7.691493e+08,6.333333
50,Brazil,2007,25.300000,19.900000,2051.000000,1.961116e+08,3.000000
51,Brazil,2008,20.600000,8.860000,1733.400000,5.022933e+08,5.000000
52,Brazil,2009,31.500000,9.300000,1149.000000,1.724660e+08,9.000000
53,Brazil,2010,16.420000,12.260000,1668.400000,7.746354e+08,5.200000
54,Brazil,2011,22.471429,9.585714,1935.857143,9.202521e+08,8.571429
55,Brazil,2012,22.500000,11.600000,2278.000000,5.708728e+08,6.000000
56,Brazil,2013,23.233333,14.566667,2071.000000,5.648519e+08,9.333333
57,Brazil,2014,24.075000,10.325000,1576.750000,6.732273e+08,5.500000
58,Brazil,2015,17.750000,14.300000,1394.500000,1.069665e+09,6.000000
59,Brazil,2016,24.660000,9.240000,1264.200000,6.482866e+08,8.200000

In [12]:
# Save clean_climate_avg to csv file
clean_climate_avg.to_csv("clean_climate_data.csv", index=False)

In [13]:
# Load the clean csv file to DATA/CLEAN DATA
source = "clean_climate_data.csv"
destination = "DATA/CLEAN DATA"
shutil.move(source, destination)

'DATA/CLEAN DATA\\clean_climate_data.csv'